[Unit]
Description=Web Application Service
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/node /opt/webapp/server.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
EnvironmentFile=/etc/webapp.env

[Install]
WantedBy=multi-user.target
